html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}table{border-collapse:collapse;border-spacing:0}


#about {
  text-align: left;
  padding: 2em 0;
  margin: 2em auto;
  background-color: #9CCE48;
  box-shadow: 2px 2px 4px 0 #ccc;
  width: 80vw;
  padding: 30px;
  border-radius: 7px;
  font-size: 1.4em;
  font-family: 'Rokkitt', serif;
  font-weight: 400;
}

#about h2 {
  text-align: center;
  font-size: 2em;
  margin-right: .5em;
  font-family: 'Bad Script', serif;
  white-space: nowrap;

}

/*Masonry Layout*/

.wrapper {
    width: 95%;
    margin: 3em auto;
}

.masonry {
    -moz-column-gap: 1em;
    -webkit-column-gap: 1em;
    column-gap: 1em;
}
.brick {
    display: inline-block;
    width: 100%;
    margin: 0 0 1.5em 0;
    padding: 1em;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-shadow: 2px 2px 4px 0 #ccc;
}
.brick img {
    width: 100%;
}


.logo {
  max-height: 40px;
  max-width: 40px;
  float: right;
}

h4 {
  font-size: 2em;
  margin-top: .5em;
  float: left;
}

.title img {
  margin-top: .5em;
}




/*Global styles*/

body{
  font-family: 'Rokkitt';
}

a {
  text-decoration: none;
  color: black;
}

img {
  max-width: 100%;
  box-sizing: border-box;
}

.round img {
  border-radius:50% 75% 50% 75%;
  border: 4px solid #d2ccfc;
}

h3 {
  font-size: 3em;
  font-family: 'Rokkitt';
  margin-bottom: .5em;
}



/* Navbar */
nav {
  float:right;
}

nav li {
  display:inline;
}

nav a {
  display: inline-block;
  padding: .5em .5em;
  font-size: 1.3em;
  color: black;
  transition: background 2s;
}

nav a:hover {
  background: #9CCE48;
}

header {
  position:fixed;
  top: 0;
  left: 0;
  width:100%;
  background-color: rgba(255, 255, 255, 0.71);
  height: 2.6em;
  border-bottom: 1px solid #878d8f;
}

/*Footer*/
footer {
  background-color: #9CCE48;
  padding: 20px;
  text-align: center;
  color: white;
  border-top: 1px solid grey;

}

footer img {
  border: none;
  border-radius: 0%;
  fill: black;
}


footer li {
  display: inline-block;
  padding: 10px;
  height: 44px;
  width: 44px;
}


/*Rotating words*/
#banner {
  background-image: url("./images/green.jpg");
  background-size: cover;
  background-repeat: none;
  background-position: center center;
  height: 400px;
  padding-top: 90px;
  width: 100%;
}

.rw-wrapper{
  font-size: 1em
  position: relative;
  margin: 110px auto 0 15px;
  font-family: 'Rokkitt';
  padding: 5px;
  display:inline-block;
  background-color: rgba(255, 255, 255, .75);
  width: 345px;
  height: 10em;
  word-wrap: normal;
  border-radius: 5px;

}


.rw-sentence{
  font-family: 'Rokkitt';
  margin: 0;
  text-align: left;
  text-shadow: 1px 1px 1px rgba(255,255,255,0.8);


}

.rw-sentence span{
  color: #444;
  font-size: 200%;
  font-weight: normal;

}


.rw-words{
  display: inline;
  text-indent: 1em;

}

.rw-words span{
  position: absolute;
  opacity: 0;
  color: #6b969d;
 
}


.animateWord {
  display: inline;
  text-indent: 1em;
  position: absolute;
  opacity: 0;
  overflow: hidden;
  width: 100%;
  color: #6b969d;

}

.rw-words-1 span{
  -webkit-animation: rotateWord 18s linear infinite 0s;
  -ms-animation: rotateWord 18s linear infinite 0s;
  animation: rotateWords 18s linear infinite 0s;
}

.rw-words  span:nth-child(2) { 
  -webkit-animation-delay: 3s; 
  -ms-animation-delay: 3s; 
  animation-delay: 3s; 
  color: #6b889d;
}
.rw-words  span:nth-child(3) { 
  -webkit-animation-delay: 6s; 
  -ms-animation-delay: 6s; 
  animation-delay: 6s; 
  color: #6b739d; 
}
.rw-words  span:nth-child(4) { 
  -webkit-animation-delay: 9s; 
  -ms-animation-delay: 9s; 
  animation-delay: 9s; 
  color: #7a6b9d;
}
.rw-words  span:nth-child(5) { 
  -webkit-animation-delay: 12s; 
  -ms-animation-delay: 12s; 
  animation-delay: 12s; 
  color: #8d6b9d;
}
.rw-words  span:nth-child(6) {  
  -webkit-animation-delay: 15s; 
  -ms-animation-delay: 15s; 
  animation-delay: 15s; 
  color: #9b6b9d;
}

@-webkit-keyframes rotateWords {
    0% { opacity: 0; }
    2% { opacity: 0; -webkit-transform: translateY(-30px); }
  5% { opacity: 1; -webkit-transform: translateY(0px);}
    17% { opacity: 1; -webkit-transform: translateY(0px); }
  20% { opacity: 0; -webkit-transform: translateY(30px); }
  80% { opacity: 0; }
    100% { opacity: 0; }
}
@-ms-keyframes rotateWords {
    0% { opacity: 0; }
    2% { opacity: 0; -ms-transform: translateY(-30px); }
  5% { opacity: 1; -ms-transform: translateY(0px);}
    17% { opacity: 1; -ms-transform: translateY(0px); }
  20% { opacity: 0; -ms-transform: translateY(30px); }
  80% { opacity: 0; }
    100% { opacity: 0; }
}
@keyframes rotateWords {
    0% { opacity: 0; }
    2% { opacity: 0; -webkit-transform: translateY(-30px); transform: translateY(-30px); }
  5% { opacity: 1; -webkit-transform: translateY(0px); transform: translateY(0px);}
    17% { opacity: 1; -webkit-transform: translateY(0px); transform: translateY(0px); }
  20% { opacity: 0; -webkit-transform: translateY(30px); transform: translateY(30px); }
  80% { opacity: 0; }
    100% { opacity: 0; }
}

@media only screen and (min-width: 770px) {
  #about {
    display:flex;
    display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox;  /* TWEENER - IE 10 */
    display: -webkit-flex;
  }

  #about h2 {
    float: left;
    margin-top: .2em
  }

  .masonry {
      -moz-column-count: 2;
      -webkit-column-count: 2;
      column-count: 2;
  }
  .rw-wrapper{
    font-size: 1.2em;
    position: relative;
    margin: 110px auto 0 110px;
    padding: 10px;
    width: 500px;
    height: 8em;
  }
}


@media only screen and (min-width: 1090px) {
  #about{
    display:flex;
    display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox;  /* TWEENER - IE 10 */
    display: -webkit-flex;
  }

  #about h2 {
    float: left;
    margin-top: .2em
  }

  .masonry {
    -moz-column-count: 3;
    -webkit-column-count: 3;
    column-count: 3;
  }

  .rw-wrapper{
    font-size: 1.2em;
    margin: 110px auto 0 110px;
    padding: 10px;
    width: 500px;
    height: 8em;

  }
}
